.button-class-search {
    -fx-font-size: 14px;
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-background-radius: 5px;
    -fx-text-fill: #000000;
}
.title-class{
    -fx-font-weight: 700;
    -fx-text-fill: #942525;
}

.background-pane{
    -fx-background-radius: 5px;
    -fx-background-color: #a8a6a6;

}